body,ul,h1,h2,h3,p,form{
	margin:0;
	padding: 0;
}
body{
	font-family: "Microsoft YaHei","微软雅黑",sans-serif;
	font-size: 12px;
	color:#272727;
	background: #fff;
	clear:both;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#272727;
}
a img{
	border: none;
}
img{
	display: block;
}
.comwidth{
	width: 1140px;
	margin: 0 auto;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.notext{
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.header{
	border-top: 4px solid #2e2e33;
	padding-top: 10px;
	padding-bottom: 7px;
	background-color: #2e2e33;
}
.header h1{
	float: left;
}

.header .links,
.header .tel{
	float: right;
}
.header .links{
	margin-top: 2px;
	color: #dbdbdb;
}
.header .links a{
	margin: 0 12px;
	line-height: 22px;
	color: #dbdbdb;
}
.header .links .qqtalk{
	margin-right: 0;
	margin-left: 8px;
}
.header .links img{
	display: inline-block;
	vertical-align: middle;
}
		.header2{
			height: 80px;
			background-color: #f8f8fa;
		}
		.header2 .inner_c{
			width: 1000px;
			margin: 0 auto;

		}
		.header2 .inner_c .logo{
			float: left;
			margin-right: 25px;
		}
		.header2 .inner_c .nav{
			float: left;
		}
		.header2 .inner_c .nav ul{
			list-style: none;
		}
		.header2 .inner_c .nav ul li{
			float: left;
			width: 100px;
			height: 58px;
			text-align: center;
			line-height: 58px;
		}

		.header2 .inner_c .nav ul li.current a{
			display: block;
			width: 120px;
			height: 52px;
			line-height: 52px;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #0f98e7;
			
		}
		.header2 .inner_c .nav ul li a{
			display: block;
			width: 120px;
			height: 52px;
			line-height: 52px;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #2e2e33;	
			text-decoration: none;
		}
		.header2 .inner_c .nav ul li a:hover{
			color: #0f98e7;	
		}
.banner{
	margin-bottom: 6px;
}
.banner img{
	margin: 0 auto;
	width: 100%;
	height: 321px;
}
/*内用样式开始*/
.mt_left,
.mb_left{
	float: left;
	width: 1140px;
}
.main_header{
	text-align: right;
	line-height: 40px;
}
.main_header h2{
	float: left;
	color: #4f4f4f;
}
.hot_car{
	float: left;
	text-align: center;
	position: relative;
	margin-right: 31px;
	width: 254px;
}
.process{
	margin-top: 20px;
	height: 70px;
}
.offers{
	margin-right: -30px;
	margin-bottom: -8px;
}
.offers .offer{
	text-align: center;
	float: left;
	margin-right: 30px;
	margin-bottom: 13px;
}
/*内容样式结束*/
/*底部样式开始*/
.footer{
	margin-top: 16px;
	padding-top: 15px;
	border-top: 6px solid #b2e34b;
	background: #4B4A48;
	color: #fff;
}
.gwidth{
	width: 1140px;
	margin-right: auto;
	margin-left: auto;
}
.footer a{
	color: #fff;
}
.footer .links{
	float: left;
	width: 175px;
}
.footer .links h2{
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
}
.footer .links li{
	line-height: 30px;
}
.footer .long{
	width: 306px;
}
.footer .ma{
	width: 100px;
}
.copyright{
	margin-top: 22px;
	margin-bottom: 11px;
	padding-bottom: 5px;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px dashed #b2e34b;
	text-align: right;
	line-height: 58px;
}
.copyright address{
	float: left;
	font-style: normal;
}
.copyright .address a{
	margin-left: 43px;
}
.copyright .info{
	margin-right: -12px;
}
.copyright .info a{
	margin: 0 12px;
}
.friendly_links{
	line-height: 46px;
}
/*底部样式结束*/